services:
  rps:
    build:
      context: .
      dockerfile: src/docker/Dockerfile
    network_mode: host
    stdin_open: true
    tty: true
    environment:
      RPS_BIND: "0.0.0.0:9002"
      RPS_MTLS: "1"
      RPS_SPIFFE_ID: "spiffe://noah.inter-cloud-thi.de/game-server-noah"
      RPS_CERT_DIR: "/app/certs"
    volumes:
      - ./certs:/app/certs:ro
